doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/description.css')
    link(rel='stylesheet' href='/login.css')
    title Description
    include ./login.pug
    include ./navigation.pug
body    
   
    .container-fluid
        #nav1.col-sm-5.mt-3
            |Description
        hr
        
        .row
            .mt-3.mx-3.col-sm-4
                nav(style="--bs-breadcrumb-divider: '/';", aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item.breadcrumb
                            a(href='/') Home
                        li.breadcrumb-item.breadcrumb.active#homepage
                            a(href='#') 
                        li.breadcrumb-item.breadcrumb(aria-current='page')#desc
                            a(href='#') Description    
                       
    .container.mt-5.py-5
        .row
            #image.img.col-sm-4
            #details.details.col-sm-8
            #download.download.mt-5.col-sm-2
            .col-sm-5.genres
                ul
                    li Genres :
                    li
                        a(href='/books/types/action') Action
                    li
                        a(href='/books/types/comedy') Comedy
                    li
                        a(href='/books/types/classic') Classic
                    li
                        a(href='/books/types/general_knowledge') GK
                    li
                        a(href='/books/types/adventure') Adventure
    script(src='/description.js')
    script(src='index.js')
    script(src='/login.js')
