head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title cart
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='mycart.css')
    link(rel='stylesheet' href='bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/index.css')
    include login.pug
    include navigation.pug
    
.mt-2
    h1.mx-3 My cart
    hr
nav(style="--bs-breadcrumb-divider: '>';" aria-label='breadcrumb')
  ol.breadcrumb
    li.breadcrumb-item.breadcrumb.active(aria-current='page')
      a(href='/') Books
    li#homenav.breadcrumb-item.breadcrumb
    li.breadcrumb-item.breadcrumb
    li.breadcrumb-item.breadcrumb view cart
#cartitems.mycartitems.mt-2.mx-3
    #cartimage.row
script(src='mycart.js')
