
li {
    text-decoration: none;
    list-style: none;
    padding: 15px;
    text-align: left;
    color: #e7ecef;
}

li:hover {
   cursor: pointer;
}
.nav {
    /* top: 0px;
    /* position: fixed; */
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right,#FF7854 0%,#FF5079 100%);
    color: #e7ecef;
}
.navcomponents {
    padding: 38px;
    width: 80%;
    text-align: center;
}
.pagination a {
    text-decoration: none;
}

.pagination {
    margin-top: 70px;
    margin-left: 25%;
    margin-bottom: 20px;
}

.download a {
    text-decoration: none;
}

.download {
    text-align: right;
}

.details a {
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

#browse,
#login,
#signup,
#home,
#action,
#classic,
#history,
#comedy,
#adventure,
.gk {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#logindiv {
    float: right;
}
.listgrid{
    text-align: end;
  } 
.active{
   color: #FF5079;
 }
 .flexbox{
    display: grid;
  grid-template-columns:auto auto auto;
}
.loginbtn {
    background-color: transparent;
    color: white;
    width: 100px;
}

.viewcart{
  display: none;
}

.logoutbtn {
    display: none;
    background-color: transparent;
    color: white;
    width: 100px;
}
#navbar{
    display: flex;
    justify-content: end;
}
#navbar a{
    text-decoration: none;
    color: white;
}
.flexbox{
    display: grid;
  grid-template-columns:auto auto auto;
}
.listgrid{
    text-align: end;
  } 
   .pophidden{
    display:none;
   }
   .addtocartbutton button{
    border: none;
    color: white;
    background-color: green;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
   }
   .addtocartdownload a{
    border: none;
    color: white;
    background-color:rgb(16, 16, 118);
    border-radius: 50px;
    padding: 5px 16px 5px 16px;
    margin-right: 15%;
   }
   
/* .addtocartdown{
    pointer-events: none;
    opacity: 0.3;
   } */