.navigation {
    background-color: #004e98;
}
nav a {
    text-decoration: none;
    color: white;
}

.booktopics {
    display: none;
    width: 100%;
}

.navitems p {
    opacity: 0.3;
}
.navitems {
    text-align: center;
}
.footer {
    background-color: #004e98;

}

.footer a {
    text-decoration: none;
    color: white;
}

.card {
    left: 60px;
}

.card a {
    color: black;
    text-decoration: none;
}

.loginbtn{
    background-color: transparent;
    color: white;
    width: 100px;
}

.viewcart{
  display: none;
}

.logoutbtn {
    display: none;
    background-color: transparent;
    color: white;
    width: 100px;
}
.loginbtn:hover,.logoutbtn:hover,.viewcart:hover,.navbar-brand:hover{
 color: rgb(199, 202, 205);
 cursor: pointer;
}
#Name{
    color: white;
}
.backicon{
     background-color:white;
     border-radius: 50px;
     color: white;
}
.card-body:hover{
    background-image: linear-gradient(to right, #FF7854 0%, #FF5079 100%);
    color: white;
}
.view{
    text-decoration: none;
    color: black;
}
.view:hover{
    color: rgb(231, 229, 229);
}
.listgrid{
  text-align: end;
} 
.flexbox{
    display: grid;
  grid-template-columns:auto auto auto;
  grid-column-gap: 50px;
  margin:0 auto;
}
.footercontainer{
    margin-top: 50px;
    width: 33.33%;
}
.footercontainer li{
    text-decoration: none;
    list-style: none;
    color: white;
}
footer{
    background-color:#004e98;
    height: 150px;
}
.gridlist,.active1{
    color: #004e98;
  }
.breadcrumb a{
    color: black;
}

.hidden{
    display: none;
}
.card{
    width: 12rem;
}
.breadhidden{
    display: none;
}
.search{
  margin-left: 95px;
    border: 1px black;
}

.searchname{
    display: none;
}
.centercardimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.carousel-item::before{
    filter: brightness(10%);
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    opacity: 0.8;
}
  .listview{
    display:grid;
     margin-left: auto;
     margin-right: auto; 
  }
  .carousel-item p{
    filter: brightness(100%);
  }

