.box {
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 407px;
    height: max-content;
    background-color:white;
    
}
.center {
    display: flex;
    justify-content: center;
}
input,.logbtn,#register,#signup_account{
    width: 350px;
    height: 35px;
    border-radius: 7px;
    /* border: solid 2px rgb(136, 103, 103); */
}
.continue {
    background-color:#4E598C;
    color: white;
    border-color: #4E598C;
    border-radius: 5px;
}

.continue a {
    color: white;
    text-decoration: none;
}

.createaccount {
    color: #fff;
    background-color: #4E598C;
    border-color: #4E598C;
    border-radius: 5px;
}

.continue:hover {
    color: #fff;
    background-color: #3b4262;
}

.createaccount:hover {
    color: #fff;
    background-color: #3b4262;
    border-color: #4E598C;
}

.hidden {
    display: none;
}
#modallogin,#modalsignup{
    color: black;
}


