                
#books,.profile,.Name{
    text-decoration: none;
    color: white;
}
.delete:hover{
    color: red;
}
#books:hover{
    color:rgb(228, 226, 226);
}
.loginbtn:hover,.logoutbtn:hover,.viewcart:hover,.navbar-brand:hover,#Name:hover{
    color: rgb(199, 202, 205);
    cursor: pointer;
   }
li a{
    text-decoration: none;
    color: black;
}
.carthidden {
    display:none;
}
.cartimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.resetbutton{
   margin-left: 90%;
}
.mycartimage{
    float: left;
}
.removecart{
 margin-left: 50%;
 border: none;
 border-radius: 100px;
 color: white;
 background-color: red;
 padding: 5px 15px 5px 15px;
}
.cartbox{
    /* border: 1px solid gray; */
    border-radius: 18px;
   
}
.cartdetails{
  margin-left: 250px;
}
